 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #2c003e, #120015);
  color: #ffffff;
  min-height: 100vh;
}

.container {
  padding: 40px 60px;
}

.header p {
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
}


.image-box {
  flex: 1;
}

.image-box img {
  width: 100%;
  border-radius: 4px;
}

/* RIGHT TEXT */
.text-box {
  flex: 1.3;
}

.text-box h1 {
  font-size: 36px;
  color: #c87cff;
  margin-bottom: 20px;
}

.text-box p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 15px;
  color: #e6d8f0;
}

.highlight {
  font-weight: bold;
  color: #ffffff;
}
